ROOT/CODE/Learn/JAVA/CORE_JAVA_II/ChapterII03/src/com/ling/learn0305/namespace/config-ns1.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="root">
		<complexType>
			<attribute name="xmlns" type="string" use="optional"
				default="default_ns" />
			<sequence>
				<element name="name" type="string" />
				<element name="size" type="string" />
			</sequence>
		</complexType>
	</element>
</schema>